{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h3>Welcome back, {{ session["username"] }}!</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Balance</h5>
                <p class="card-text fs-3">{{ balance | inr }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Income</h5>
                <p class="card-text fs-3">{{ income | inr }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Expenses</h5>
                <p class="card-text fs-3">{{ expense | inr }}</p>
            </div>
        </div>
    </div>
</div>

<h3 class="mt-3">Budget Overview</h3>
<div class="card-body">
    {% for budget in budgets[:3] %}
    <p>{{ budget['name'] }}</p>
    <div class="progress">
        {% if budget['progress'] < 75 %} 
            {% set color="bg-success" %} 
        {% elif budget['progress'] < 100 %} 
            {% set color="bg-warning" %} 
        {% else %} 
            {% set color="bg-danger" %} 
        {% endif %} 
    <div class="progress-bar {{ color }}" 
            role="progressbar" aria-valuenow="{{ budget['progress'] }}" aria-valuemin="0" aria-valuemax="100"
            style="width: {{ budget['progress'] }}%;">
            {{ budget["progress"] | round(0) }}%
    </div>
</div>
<p>{{ budget["spent"] | inr }} / {{ budget["budget_amount"] | inr}}</p>
{% endfor %}
</div>
<a href="{{ url_for('budgets') }}" class="btn btn-primary mt-3">
    View All Budgets
</a>



<h3 class="mt-3">Recent Transactions</h3>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Cateogry</th>
        <th>Description</th>
        <th class="text-end">Amount</th>
    </tr>

    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction['transaction_date'] | short_date }}</td>
        <td>{{ transaction['name'] }}</td>
        <td>{{ transaction['description'] }}</td>
        {% if transaction["type"] == "Income" %}
        <td class="text-end">+{{ transaction['amount'] | inr }}</td>
        {% elif transaction["type"] == "Expense" %}
        <td class="text-end">-{{ transaction['amount'] | inr }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('transactions') }}" class="btn btn-primary mt-3">
    View All Transactions
</a>



{% endblock %}