{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="form-card">
    <h2>Login</h2>
    <form method="post">
        <label class="col-form-label" for="autoSizingInputGroup">Username</label>
        <div class="input-group">
            <input type="text" class="form-control" id="autoSizingInputGroup" name="username">
        </div>


        <label for="inputPassword5" class="col-form-label">Password</label>
        <input type="password" id="inputPassword5" name="password" class="form-control"
            aria-describedby="passwordHelpInline">
        <button type="submit" class="btn btn-primary mt-3">Login</button>

        <p class="form-text mt-3">
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </form>
    <div class="col-auto">

    </div>
</div>


{% endblock %}